In [1]:
for i in (1,2,3):
    print(i)		# Output 1 2 3 in three lines. And (1,2,3) is called a tuple in Python

1
2
3

In [3]:
for i in [1,2,3]:
    print(i*2)

2
4
6

In [4]:
for ch in 'Python':
    		print(ch)		# Prints each character of the string vertically

P
y
t
h
o
n

In [6]:
for ch in 'Python':
    print(ch, end='')		# Prints each character of the string vertically

Python

In [7]:
range(10)

range(0, 10)

In [8]:
x = range(10)
print(x)

range(0, 10)

In [9]:
type(x)

range

In [11]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [12]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [14]:
for i in range(2, 5):            # starts at 2, stops at 4, step is not mentioned it is 1 by default
    print(f"{i}")	# Prints 2, 3, 4

2
3
4

In [15]:
for z in ['unix', 'windows', 'linux']:
    print(z)

unix
windows
linux

In [17]:
for z in [2301, 'Amit', 21, 8000.5] :
    print(z)

2301
Amit
21
8000.5

In [18]:
number = int(input("Enter a number"))
even = 0
odd = 0
for i in range(number):
    if i % 2 == 0:
       even = even + i
    else:
       odd = odd + i

print(f"Sum of Even numbers are {even} and Odd numbers are {odd}")

Enter a number20
Sum of Even numbers are 90 and Odd numbers are 100

In [19]:
number = int(input('Enter a number'))
factorial = 1
if number < 0:
   print("Factorial doesn't exist for negative numbers")
elif number == 0:
   print('The factorial of 0 is 1')
else:
   for i in range(1, number + 1):
       factorial = factorial * i

print(f"The factorial of number {number} is {factorial}")

Enter a number6
The factorial of number 6 is 720

In [20]:
#Exit the loop when x is “banana”
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)		# Prints “apple” only

apple

In [21]:
# Do not print banana
fruits = ["apple", "banana", "cherry"]
for x in fruits:
     if x == "banana":
          continue
     print(x)    		# Prints “apple” & “cherry”

apple
cherry

In [22]:
while True:
 try:
    number = int(input("Please enter a number: "))
    print(f"The number you have entered is {number}")
    break
 except ValueError:
    print("Oops! That was no valid number. Try again…")

ZeroDivisionError: division by zero

In [ ]:
# Write a Python program which would input two integers a, b from system using input
# Find the result of a / b. Check with ZeroDivisionError if b = 0
# Check with another exception called ValueError when anyone of a,b is entered as non numeric

In [31]:
# Program to Check for ZeroDivisionError Exception
# with else, finally
try:
    x = int(input("Enter value for x: "))
    y = int(input("Enter value for y: "))
    result = x / y   
except ZeroDivisionError as e1:
    print("Division by zero!")
    print(e1)
except ValueError as e:
    print('Enter numeric')
else:
    print(f"Result is {result}")
finally:
    print("Executing finally clause")

Enter value for x: 10
Enter value for y: 0
Division by zero!
division by zero
Executing finally clause

In [35]:
try:
    x = int(input('Enter numeric >0 :'))
    assert x > 0, "Value  must be > 0"
    print(x)
except AssertionError as e:
    print(e)

Enter numeric >0 :-88
Value  must be > 0

In [36]:
mylist = [2 ,4, 6, 8, 10, 12, 14]
print(mylist)			# Output 2, 4, 6, 8, 10, 12, 14
print(len(mylist))		# Prints the count of the items in a list, i.e. 7
print(mylist[0])			# 1st element of the list, i.e. 2

[2, 4, 6, 8, 10, 12, 14]
7
2

In [37]:
print(mylist[0]+ mylist[2])

8

In [38]:
sum(mylist)

56

In [39]:
type(mylist)

list

In [41]:
empname = [219101, 'Sanjay', 23, 120000.44]
print(empname)

[219101, 'Sanjay', 23, 120000.44]