In [4]:
try:
    x = int(input('enter x > 0 '))
    assert x > 0, "Must be >0"
    print(x)
except AssertionError as e:
    print(e)

enter x > 0 -99
Must be >0

In [5]:
mylist = [2 ,4, 6, 8, 10, 12, 14]
print(mylist)			# Output 2, 4, 6, 8, 10, 12, 14
print(len(mylist))		# Prints the count of the items in a list, i.e. 7
print(mylist[0])			# 1st element of the list, i.e. 2

[2, 4, 6, 8, 10, 12, 14]
7
2

In [6]:
mylist[0]+mylist[1]

6

In [7]:
l = [1,2,3,"5", 10]
print(l)

[1, 2, 3, '5', 10]

In [8]:
l[4]+l[5]

IndexError: list index out of range

In [10]:
int(l[3])+l[4]

15

In [11]:
print(mylist[0:2])

[2, 4]

In [12]:
mylist

[2, 4, 6, 8, 10, 12, 14]

In [13]:
mylist[2::]

[6, 8, 10, 12, 14]

In [14]:
mylist[::2]

[2, 6, 10, 14]

In [15]:
mylist[-1]

14

In [16]:
mylist[-2]

12

In [17]:
mylist[::-1]

[14, 12, 10, 8, 6, 4, 2]

In [18]:
mylist

[2, 4, 6, 8, 10, 12, 14]

In [19]:
revlst = mylist[::-1]
revlst

[14, 12, 10, 8, 6, 4, 2]

In [20]:
mylist[::]

[2, 4, 6, 8, 10, 12, 14]

In [21]:
mylist[0] = 99
mylist

[99, 4, 6, 8, 10, 12, 14]

In [22]:
mylist.append(100)
mylist

[99, 4, 6, 8, 10, 12, 14, 100]

In [23]:
l1 = [1,3,5]
l2 = [2,4,6]
l3 = l1 + l2
l3

[1, 3, 5, 2, 4, 6]

In [24]:
list1 = [20901, 'Sanjay Sinha', None, 100.56, True]
print(list1)

[20901, 'Sanjay Sinha', None, 100.56, True]

In [27]:
list_1 = [1, 3, 5, 7]
list_2 = [2, 4, 6, 8]
list_3 = [1, 3, 5, 7]
print(list_1 == list_2)
print(list_1 == list_3)

False
True

In [28]:
for i in mylist:
    print(i)

99
4
6
8
10
12
14
100

In [31]:
lst = list(zip(list_1, list_2))
print(lst)

[(1, 2), (3, 4), (5, 6), (7, 8)]

In [33]:
x = [1,2,3,4]
y = [5,6,7]
z = zip(x,y)
print(z)
z = list(zip(x,y))
print(z)

<zip object at 0x000002A11941EFC0>
[(1, 5), (2, 6), (3, 7)]

In [34]:
for i, j in zip(x,y):
    print(i, j)

1 5
2 6
3 7

In [35]:
x, y

([1, 2, 3, 4], [5, 6, 7])

In [36]:
b = [ (i+j) for i, j in zip(x, y)]
print(b)

[6, 8, 10]

In [37]:
v1, v2 = 10,20
v1,v2

(10, 20)

In [38]:
list_items = [1,3,5,7]
print(5 in list_items)		# Returns True 
print(10 in list_items)		# Returns False

True
False

In [41]:
mylist=[2, 6, 9, 10, 1, 5, 7, 9]
print(len(mylist))			# Returns   8
print(max(mylist))			# Returns 10
print(min(mylist))			# Returns 1
print(sum(mylist))			# Returns the sum of the elements

8
10
1
49

In [42]:
mylist.reverse()

In [43]:
mylist

[9, 7, 5, 1, 10, 9, 6, 2]

In [45]:
mylist=[2, 6, 9, 10, 1, 5, 7, 9]
mylist[::-1]

[9, 7, 5, 1, 10, 9, 6, 2]

In [46]:
mylist

[2, 6, 9, 10, 1, 5, 7, 9]

In [47]:
mylist.sort()

In [48]:
mylist

[1, 2, 5, 6, 7, 9, 9, 10]

In [49]:
mylist=[2, 6, 9, 10, 1, 5, 7, 9]
mylist.sort(reverse=True)
mylist

[10, 9, 9, 7, 6, 5, 2, 1]

In [51]:
mylist=[2, 6, 9, 10, 1, 5, 7, 9]

In [52]:
mylist
mylist.remove(10)
mylist

[2, 6, 9, 1, 5, 7, 9]

In [53]:
mylist.count(9)

2

In [56]:
print(mylist.index(7))

5

In [57]:
mylist

[2, 6, 9, 1, 5, 7, 9]

In [ ]:
test_list = []
no_of_items = int(input("Enter the number of items "))
for i in range(no_of_items):
    item = input("Enter list item: ")
    test_list.append(item)

print(f"List items are {test_list}")

In [59]:
lst = [ int(z) for z in input('Enter items separated by comma :').split(',')]
print(lst)

Enter items separated by comma :1,2,3,4,5
[1, 2, 3, 4, 5]

In [60]:
a = "a,b,v"
b = a.split(',')
print(b)

['a', 'b', 'v']

In [61]:
# Repeat the same with inputs separated by space
lst = [ int(z) for z in input('Enter items separated by comma :').split(' ')]
print(lst)

Enter items separated by comma :2 3 4 5 6
[2, 3, 4, 5, 6]

In [62]:
# Tuple
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)
for i in tuple1:
	print(i)  		# Outputs “abc”, 34, True, 40, “male”

('abc', 34, True, 40, 'male')
abc
34
True
40
male

In [63]:
tuple1[0]=99

TypeError: 'tuple' object does not support item assignment

In [64]:
z = 1,2,4,5
print(z)
print(type(z))

(1, 2, 4, 5)
<class 'tuple'>

In [65]:
t = (2,4,6,7)
print(sum(t))		# 19
print(len(t))		# 4
print(max(t))		# 7
print(min(t))		# 2
t.append(99)		# Shows error. As tuple is immutable. 
# AttributeError: 'tuple' object has no attribute 'append'
t.reverse()		# AttributeError: 'tuple' object has no attribute 'reverse'

19
4
7
2

AttributeError: 'tuple' object has no attribute 'append'

In [67]:
l = list(t)
print(l)

l[0]=99
t = tuple(l)
print(t)

[2, 4, 6, 7]
(99, 4, 6, 7)