In [1]:
# Test prog

In [2]:
''' this is
a comment
at SXUK
'''

' this is\na comment\nat SXUK\n'

In [3]:
print("Welcome")

Welcome

In [5]:
print('Welcome to python');

Welcome to python

In [6]:
print("Don't get panicked")

Don't get panicked

In [7]:
x=10
print(x)

10

In [8]:
type(x)

int

In [9]:
x="Hello"
type(x)

str

In [10]:
x=100.55
type(x)

float

In [11]:
x=90.55
y=int(x)
print(y)          # Output shows 90

90

In [12]:
z = 10 > 15
print(z)

False

In [13]:
type(z)

bool

In [14]:
z = 10 > 3
print(z)

True

In [15]:
x

90.55

In [16]:
y

90

In [17]:
x
y

90

In [18]:
print(x)
print(y)

90.55
90

In [19]:
print(x, y)

90.55 90

In [20]:
x=90.55
X="python"   
print(x,X)      #  Output shows 90.55 python

90.55 python

In [21]:
a = None
print(a)

None

In [22]:
c = False
type(c)

bool

In [23]:
s1="hello"
s2="world"
s3=s1 + " " + s2
print(s3)    # Output shows 'hello world'

hello world

In [26]:
name = 'Sanjay'
age = 21
str1 = name + ' is ' + str(age) + ' years old'
print(str1)

Sanjay is 21 years old

In [28]:
a = 10
b = 12.56
c = 'Python and Data Science'
d = None
e = a > 100
print(type(a), type(b), type(c), type(d), type(e))

<class 'int'> <class 'float'> <class 'str'> <class 'NoneType'> <class 'bool'>

In [32]:
a, b = 5, 4
print(a,b)	   # Output 5 4
# And then swap them without using any multiple lines code
a,b = b,a
print(a,b)               # Output 4 5

5 4
4 5

In [33]:
age = input("What is your age?")
print(age)
print(type(age))	    # Shows as class ‘str’

What is your age?23
23
<class 'str'>

In [34]:
age = int(input("What is your age?"))
print(age)
print(type(age))	    # Shows as class ‘str’

What is your age?34
34
<class 'int'>

In [38]:
country = 'India'
city = 'Kolkata'
print("I live in city {0} and country {1}".format(city, country))

I live in city Kolkata and country India

In [41]:
country = 'India'
city = 'Kolkata'
print(f"I live in city {city} and country {country}") 
print(f"I live in {country} and {city}")

I live in city Kolkata and country India
I live in India and Kolkata

In [42]:
      #Program to Demonstrate the Positional Change of Indexes of Arguments
      a = 10
      b = 20
      print("The values of a is {0} and b is {1}".format(a, b))     # variable ‘a’ goes as {0} and ‘b’ as {1}
      print("The values of b is {1} and a is {0}".format(a, b))

The values of a is 10 and b is 20
The values of b is 20 and a is 10

In [43]:
a, b,c =10, 20.55, 30.678
print('%i, %.2f, %.4f' % (a, b, c))

10, 20.55, 30.6780

In [44]:
x = 'Python'
y = 'Python'
print(x is y) 			# Returns True as both them point to same object “Python”
print(x is not y)			# Returns False as x and y point to same object

True
False

In [45]:
z = "Python is good"
x in z

True

In [46]:
z in x

False

In [49]:
x=10
x =  x+ 1
print(x)
x += 1
print(x)

11
12

In [50]:
200 // 3

66

In [51]:
200 / 3

66.66666666666667

In [52]:
200 % 3

2

In [55]:
number = int(input("Enter a number"))
if number >= 0:
   print("number positive")
else:
   print('number is negative')

Enter a numberfdgdgd

ValueError: invalid literal for int() with base 10: 'fdgdgd'

In [57]:
try:
    number = int(input("Enter a number"))
    if number >= 0:
       print("number positive")
    else:
       print('number is negative')
except ValueError as err1:
    print('Please enter numeric')

Enter a numbersdds
Please enter numeric

In [58]:
score = float(input("Enter your score"))
if score < 0 or score > 1:
    print('Wrong Input')
elif score >= 0.9:
	print('Your Grade is "A" ')
elif score >= 0.8:
        print('Your Grade is "B" ')
elif score >= 0.7:
        print('Your Grade is "C" ')
elif score >= 0.6:
    print('Your Grade is "D" ')
else:
    print('Your Grade is "F" ')

Enter your score.75
Your Grade is "C"

In [61]:
# while loop  
i = 0
while i < 10:
    print(f"Current value of i is {i}")
    i = i + 1

Current value of i is 0
Current value of i is 1
Current value of i is 2
Current value of i is 3
Current value of i is 4
Current value of i is 5
Current value of i is 6
Current value of i is 7
Current value of i is 8
Current value of i is 9

In [62]:
number = int(input("Enter a number up to which you want to find the average"))
i = 0
sum1 = 0
count = 0

while i < number:
         i = i + 1
         sum1 = sum1 + i
         count = count + 1     # This is the last statement in the while block

average = sum1/count
print(f'The sum is {sum1}')
print(f"The average of {number} natural numbers is {average}")

Enter a number up to which you want to find the average10
The sum is 55
The average of 10 natural numbers is 5.5

In [63]:
capital = ' '
while capital.upper() != 'DELHI':
    capital = input('Enter our capital name :')
print('Got it')

Enter our capital name :kol
Enter our capital name :lll
Enter our capital name :delHi
Got it